@charset "utf-8";

/* common */
html {
  background-color: black;
  color: white;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: red;
}

a:active {
  color: yellow;
}

/* header */
.container {
  display: flex;
  justify-content: space-between;
}

.titleName {
  margin: 30px 0px 10px 100px;
  font-size: 25px;
}

.logo {
  width: 100px;
}

.navbar {
  display: flex;
  justify-content: flex-end;
}

.navbar-nav {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

li {
  padding: 10px;
}

/* main */
main {
  text-align: center;
}

.trapperimg {
  margin: 20px;
}

.counter {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

#msg {
  display: flex;
  align-items: center;
  font-size:  70px;
}

fieldset {
  border: 1px solid white;
  width: 500px;
  margin: 0 auto;
}

legend {
  background-color: gray;
}

input {
  margin: 10px 5px;
}

/* footer */
footer {
  text-align: center;
  margin: 20px;
}

.wrapper {
  display: flex;
  justify-content: center;
}

.sns {
  display: flex;
  justify-content: space-around;
}
